---
// Componente separador con fondo negro
---

<section class="black-separator">
	<!-- Espacio vacío con fondo negro -->
</section>

<style>
	.black-separator {
		width: 100%;
		height: 50vh;
		background: #000000;
	}
</style>

